doctype html
html(lang="en")
  head
    title= pageTitle
    <link rel="stylesheet" href="css/index.min.css">

  body
    div.wrapper
      header.header
        .container
          .logo
          h1 Getting Started
          nav.menu
             ul
               li item 1
               li item 2
               li item 3
               li item 4
               li item 5




